/*ESpecificado por clase*/
h1.color-rojo {
	color: red;
}
/*GEneral a los h1*/
h1 {
	color: purple;
}

h2.color-cafe {
	color: brown;
}

h2 {
	color: red;
}

h3.color-verde {
	color: green;
}

a.color-azul {
	color: blue;
}

a {
	text-decoration: none;
	color: DodgerBlue;
}

